/* estilo de la pagina*/

body{
    background-color: #a9d1e4;
    color: #07091a;
    font-family: cursive;
}

/* textos*/

h1 {
    color: black;
    font: size 40px;
}

.seccion{
    background-color: rgb(165, 206, 241);
}
 #Perfil{
    background-color: rgb(165, 223, 247);
}
button{
background-color: rgb(112, 206, 247);
font-family: cursive;
}